<!DOCTYPE html>
<html>
<head>
  <title>Flere github</title>
  <%= stylesheet_link_tag    "flere/github/application", media: "all" %>
  <%= javascript_include_tag "flere/github/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
